.background {
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 20px;
}

.noticeBox {
  width: 1200px;
  height: 300px;
  text-align: left;
  background-color: #fbc74f37;
  border-radius: 10px;
}

.notice {
  padding: 50px 120px 0px 60px;
}

.noticeBox button {
  background: #248041;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  height: 40px;
  font-family: 'Inter';
  font-size: 16px;
}

.buttonContainerCard {
  display: flex;
  justify-content: flex-end;
  padding: 34px;
}

.noticeBox button,
.enrollment-application-card button {
  min-width: 180px;
  height: 40px;
  background: #248041;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  padding: 8px 16px;
  transition: background 0.2s;
}

.noticeBox button:hover,
.enrollment-application-card button:hover {
  background: #1e6c36;
}

.enrollment-application-card {
  width: 1200px;
  min-height: 170px;
  background-color: #fbc74f37;
  border-radius: 10px;
  padding: 22px 40px 28px 40px;
  margin-top: 30px;
  font-family: 'Inter';
  font-size: 17px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.enrollment-application-card .enroll-card-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 5px;
  align-items: center;
}

.enrollment-application-card .enroll-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
}

.enrollment-application-card .enroll-actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

@media (max-width: 1280px) {

  .noticeBox,
  .enrollment-application-card {
    width: 95vw;
    min-width: 300px;
    max-width: 100%;
  }

  .notice {
    padding: 30px 5vw 0px 5vw;
  }
}