.enrollmentForecast {
  padding: 60px 40px;
  background-color: #fff;
  display: flex;
  flex-direction: column !important;
  gap: 20px;
}

.enrollmentForecastP2 {
  display: flex;
  gap: 16px;
  width: 100%;
}

.enrollmentForecastP1 {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.enrollmentForecastGraph {
  width: 100% !important;
  position: relative;
}

.sorter {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.statChartContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cardSection {
  width: 100%;
}

.gradePerformanceCard,
.dropoutTrendCard,
.enrollmentForecastCard {
  display: flex;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 12px;
  background: #f5f6f6;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.gradePerformanceCard p,
.dropoutTrendCard p,
.enrollmentForecastCard p {
  font-size: 20px;
}

.gradePerformanceCard h2,
.dropoutTrendCard h2,
.enrollmentForecastCard h2 {
  color: #c38900;
  font-size: 55px;
}

.yearStat {
  font-weight: 700;
}

.enrollmentForecastGraph,
.dropoutTrendGraph {
  padding: 5px;
  width: 100%;
}

.gradePerformanceTable {
  width: 100%;
  display: flex;
  justify-content: center;
}

.gradePerformanceTable table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  border: 1px solid #000;
}

.gradePerformanceTable th,
.gradePerformanceTable td {
  border-bottom: 1px solid black;
  padding: 10px;
}

.tableSection {
  background: #f5f6f6;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  padding: 20px 25px;
  width: 100%;
  box-sizing: border-box;
  overflow-x: auto;
  position: relative;
}
