* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landing_page {
  min-height: 82.3vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex: 1;
  min-height: inherit;
  width: 100%;
  justify-content: flex-end;
  backdrop-filter: blur(3.5px);
}

.mission_Vision {
  height: 100%;
  width: 100%;
  color: white;
}

.login_Form {
  width: 693px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
  padding: 0px 20px;
  bottom: 0;
}

.login_Form h2 {
  font-family: 'Inter';
  font-size: 20px;
  margin-top: 80px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #ffffff;
}

.login_Form_Box {
  background-color: #fff;
  height: 450px;
  width: 400px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}

.input_Box {
  position: relative;
  margin: 30px 0px 5px 0px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

input::placeholder {
  color: #888; /* Change placeholder color */
  font-size: 13.5px; /* Adjust font size */
  letter-spacing: 0.5px;
  font-weight: 200;
  transition: color 0.3s ease;
}

input:focus::placeholder {
  color: transparent; /* Hide placeholder when typing */
}

.input_Box label {
  letter-spacing: 0.5px;
  font-family: 'Poppins';
  font-weight: 600;
  color: #121212;
}
.errorShow {
  height: 30px;
}
.input_Box input {
  width: 315px;
  height: 45px;
  background-color: whitesmoke;
  border: none;
  outline: none;
  font-size: 0.9em;
  font-family: 'Inter';
  color: #222222;
  font-weight: 600;
  padding: 0 35px 0 5px;
  transition: 0.1s;
  border-bottom: 1.5px solid black;
  border-radius: 2px;
}

.input_Box input:focus,
.input_Box input:valid {
  border-bottom: 2px solid#248041;
}

.input_Box img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.input_Box .fa-eye {
  color: #248041;
  position: absolute;
  right: 10px;
  top: 70%;
  transform: translateY(-40%);
  width: 22px;
  height: 22px;
  cursor: pointer;
  font-size: 17px;
}

.input_Box .fa-eye-slash {
  position: absolute;
  right: 10px;
  top: 70%;
  transform: translateY(-40%);
  width: 22px;
  height: 22px;
  cursor: pointer;
  font-size: 17px;
}

.passoption {
  font-size: 0.9em;
  color: black;
  font-weight: 500;
  text-align: left;
  font-size: 13px;
  font-family: 'Inter';
  font-style: italic;
}

.passoption p {
  color: black;
  text-decoration: none;
  transition: 0.5s;
  padding-right: 195px;
}

.passoption p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.btn {
  border: 1px solid red;
  margin-top: 50px;
  width: 200px;
  height: 45px;
  background: #248041;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: white;
  font-weight: 500;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn:hover {
  background: #2e7946;
}

.enroll p {
  color: black;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 13px;
  padding-top: 10px;
}

.enroll p {
  color: black;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 13.5px;
}

.enroll a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.enroll a:hover {
  text-decoration: underline;
}

.titleName {
  text-align: center;
  padding: 30px 40px 0px 40px;
}

.titleName h2 {
  font-family: 'Work Sans';
  font-size: 49.7px;
  font-style: italic;
}

.mission,
.vision {
  padding: 10px 30px 0px 30px;
}

.mission h2,
.vision h2 {
  font-family: 'Inter';
  font-size: 30px;
  text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.8);
}

.mission p,
.vision p {
  padding: 20px 70px 5px 70px;
  font-size: 22px;
  font-family: 'Inter';
  text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.8);
}

/* -------- RESPONSIVE -------- */
@media (max-width: 992px) {
  .container {
    display: flex;
    overflow-y: auto;
  }

  .login_Form {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mission p,
  .vision p,
  .mission h2,
  .vision h2,
  .titleName h2 {
    font-size: 2vw;
  }

  .mission h2,
  .vision h2,
  .titleName h2 {
    padding: 5px 5px 5px 5px;
  }

  .mission p,
  .vision p {
    padding: 5px 5px 5px 5px;
  }
}

@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    top: 0;
    margin: 0;
    padding: 0;
  }
  .login_Form {
    width: 100%;
    order: -1;
    top: 0;
    padding-bottom: 20px;
    margin: 0;
    padding: 0;
  }
  .login_Form_Box {
    width: 100%;
  }

  /*.mainContent {
    padding-top: 100px;
  } */

  .mission h2,
  .vision h2 {
    font-family: 'Inter';
    font-size: 35px;
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.8);
  }

  .mission p,
  .vision p {
    padding: 20px 30px 5px 30px;
    font-size: 25px;
    font-family: 'Inter';
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.8);
  }

  .mission,
  .vision {
    padding: 25px 20px 0px 20px;
  }

  .mission p,
  .vision p,
  .mission h2,
  .vision h2 {
    font-size: 3vw;
  }
  .titleName h2 {
    font-size: 5vw;
  }

  .mission_Vision {
    padding-bottom: 15px;
  }
}
