.masterListOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  padding: 20px;
  backdrop-filter: blur(2px);
}

.masterListContainer {
  background: white;
  border-radius: 12px;
  width: 90%;
  max-width: 800px;
  max-height: 95vh;
  overflow-y: auto;
  padding: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.masterlistHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
}

.educInfo img {
  width: 75px;
  height: 75px;
}

.educInfo img.educSeal {
  width: 80px;
  height: 80px;
}

.educInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.masterlistheaderText {
  display: flex;
  flex-direction: column;
}

.masterlistheaderText span {
  font-size: 16.5px;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.masterlistheaderText span.depEd {
  font-size: 18px;
}

.masterListTitle {
  text-align: center !important;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.masterListTitle h2 {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: 17px;
  letter-spacing: 0.5px;
  padding-top: 10px;
}

.schoolsDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.schoolsDiv h2 {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.schoolsDiv p {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-size: 15px !important;
  font-weight: 300 !important;
}

.masterListTitle p.schoolYear {
  font-weight: 600;
  padding-top: 15px !important;
  font-size: 16px;
}

.masterListTitle p {
  font-size: 14px;
  padding: 0px !important;
  margin: 0px !important;
  font-weight: 600;
}

.studentList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.maleStudents,
.femaleStudents {
  flex: 1;
  padding: 10px;
  text-align: start;
}

.maleStudents h2,
.femaleStudents h2 {
  text-align: center;
  margin-bottom: 10px;
  text-align: start;
}

.masterListBtns {
  align-items: end;
  margin-top: 20px;
  width: 100%;
  justify-content: end;
  text-align: end;
}

.masterlist-table {
  table-layout: fixed;
  width: 100%;
}

.masterlist-table col.col-num {
  width: 35px;
}
.masterlist-table col.col-name {
  width: calc((100% - 70px) / 2);
}

.masterlist-table th,
.masterlist-table td {
  padding: 8px 12px;
  box-sizing: border-box;
  vertical-align: middle;
  color: black !important;
}

.masterlist-table th.column1,
.masterlist-table td.column1 {
  padding: 4px 6px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black !important;
}

.masterlist-table thead th[colspan] {
  text-align: center;
}
