.loading-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7); /* Darker overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  backdrop-filter: blur(2px); /* Optional soft blur */
}

.loading-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.loading-content p{
    font-size: 1.2rem;
    font-weight: 500;
}
