.teacherHomepageContainer {
  display: flex;
  flex-direction: column;
  padding: 50px 0px;
  gap: 50px;
  overflow-y: auto;
  padding-top: 200px;
}

.sorters {
  display: flex;
  align-items: center;
  gap: 16px;
  position: fixed;
  top: 155px; /* adjust depending on header/nav height */
  left: 0;
  right: 0;
  background: #fff;
  z-index: 10;
  padding: 15px 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.search {
  display: flex;
  align-items: center;
  background-color: #eee;
  border-radius: 25px;
  padding: 20px 15px;
  width: 700px;
  max-width: 400px;
  height: 40px;
  margin-top: 15px;
}

.search i {
  color: #666;
  margin-right: 8px;
}

.search input {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
}

.sorter {
  display: flex;
  flex-direction: column;
}

.archive {
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: end;
  justify-items: center;
  display: flex;
}

.archive i {
  font-size: 20px;
  text-align: center;
}

.classesArea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.classesCard {
  display: flex;
  width: 80%;
  background: linear-gradient(to bottom, #f2b63f, #f9e4b2);
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
}

.classesDataContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.classesData {
  display: flex;
  gap: 10px;
}

.classesCard h2 {
  text-shadow: none;
  font-size: 19px;
  font-weight: 650;
}

.classesCard p {
  font-size: 17.5px;
  font-weight: 450;
}

.viewMasterListButtonContainer {
  padding: 0;
  display: flex;
  align-items: flex-end;
}

.viewMasterListButtonContainer button {
  width: 130px;
}
