/* Section List Specific Styles */
.sectionList {
  padding: 80px 40px;
  background-color: #fff;
}

.sectionListCards {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.sectionListCard {
  display: flex;
  justify-content: center;
  background: #c6d7c0;
  border-radius: 12px;
  text-align: center;
  padding: 30px;
  color: #222;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.15);
  width: 400px;
  height: 160px;
  transition: 0.5s ease;
}

.sectionListCard:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.sectionListCard h2 {
  font-size: 2rem;
  margin-bottom: 8px;
}

.sectionListCard p {
  font-size: 1rem;
}

.sectionListSorter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.sectionListSearch {
  display: flex;
  align-items: center;
  background-color: #eee;
  border-radius: 25px;
  padding: 20px 15px;
  width: min(100%, 700px);
  max-width: none;
  height: 40px;
  margin-top: 15px;
}

.sectionListSearch i {
  color: #666;
  margin-right: 8px;
}

.sectionListSearch input {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
}

.sectionListSort {
  display: flex;
  flex-direction: column;
}

.sectionListSorter label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.sectionListTableContainer {
  overflow-x: auto;
  background-color: #F5F6F6;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  padding: 20px;
}

.sectionListTableContainer thead th {
  border: 1px dashed #ccc;
  vertical-align: middle;
}

.sectionListTableContainer td {
  white-space: normal;
}
