.studentEnrollmentContainer {
  padding: 80px 30px 50px 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.pageTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageTitle h2 {
  font-family: 'Work Sans';
  font-size: 49.7px;
  font-style: italic;
}

.pageTitle i {
  position: absolute;
  left: 0;
  font-size: 1.2rem;
  margin-left: 10px;
  padding-left: 30px;
}

.pageTitle a {
  text-decoration: none;
  color: black;
}

.pageTitle i:hover {
  color: #248041;
  transition: 0.2s;
  cursor: pointer;
}

.enrollmentArea {
  display: flex;
  align-items: center;
  justify-content: center;
}

.studentInfoContainer {
  padding: 20px;
}

.studentInfoContainer h1 {
  text-align: start;
  font-size: 25px;
}

.studentInfo {
  display: flex;
  flex-direction: column;
  padding: 10px 100px 10px 100px;
  gap: 16px;
}

.studentDataInfos {
  display: flex;
  gap: 16px;
}

.student_Data {
  display: flex;
  flex-direction: column;
}

.student_Data input {
  height: 40px;
  width: 250px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  font-family: inherit;
  color: #333;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.suffix {
  width: 70px !important;
}

.cardUpload {
  display: flex;
  align-items: center;
  gap: 16px;
}

.document_Label {
  text-align: left;
}

.document_Upload_Button {
  display: flex;
  gap: 20px;
}

.upload-btn-Card {
  display: inline-block;
  background: #248041;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  height: 40px;
  font-family: 'Inter';
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  transition: background 0.2s ease;
}
