@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 
}
.footer {
    bottom: 0;
    height: fit-content;
    width: 100%;
    background-color: #FFF;
    display: flex;
    align-items: center;
    color: black;
    text-align: center;
    flex-direction: column;
    padding: 5px;
    gap: 0px;
}

.text {
    text-align: center;
    padding: 0;
    margin: 0;
    height: fit-content;
    
}

.text p {
    font-size: 12px;
    margin: 0;       
    padding: 0;      
    line-height: 1.5;
}

@media (max-width: 992px) {
    .footer {
        flex-wrap: wrap;
    }
}

@media (max-width: 600px) {
    .text p {
        font-size: 2.5vw;
    }
}